.tree-main {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: relative;
    overflow: hidden;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the whole area */
}

.click-text {
    cursor: pointer;
}

.message-general:hover {
    border: 4px solid rgb(106, 180, 255);
}

#maria-emoji {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure the center is exact */
    z-index: 20;
    
}

.overlay {
    position: absolute;
    z-index: 3;
}

.message-background {
    z-index: 12;
    width: 300px;
    height: 150x;
}

.message-holder-0 {
    background-color: inherit;
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 10%;
}

.message-0-background {
    z-index: 100;
    min-width: 170px;
    max-width: 700px;
    min-height: 120px;
    border: 2px solid rgb(107, 122, 124);
    background-color: rgb(241, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-holder-1 {
    background-color: inherit;
    z-index: 100;
    position: absolute;
    top: 20%;
    right: 20%;
}

.message-1-background {
    z-index: 100;
    min-width: 170px;
    max-width: 700px;
    min-height: 120px;
    border: 2px solid rgb(107, 122, 124);
    background-color: rgb(241, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-holder-2 {
    background-color: inherit;
    z-index: 100;
    position: absolute;
    bottom: 15%;
    left: 15%;
}

.message-2-background {
    z-index: 100;
    min-width: 170px;
    max-width: 700px;
    min-height: 120px;
    border: 2px solid rgb(107, 122, 124);
    background-color: rgb(241, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-holder-3 {
    background-color: inherit;
    z-index: 100;
    position: absolute;
    bottom: 10%;
    right: 20%;
}

.message-3-background {
    z-index: 100;
    min-width: 170px;
    max-width: 700px;
    min-height: 120px;
    border: 2px solid rgb(107, 122, 124);
    background-color: rgb(241, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.maria-background {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure the center is exact */
    z-index: 18;
    background-color: rgb(241, 243, 243);
    border-radius: 30px; /* Optional: Adds rounded corners */
    min-width: 220px;
    min-height: 220px;
}

.message-text {
    padding: 20px;
}

.inner-text {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}