.tree-main {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: relative;
    overflow: hidden;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the whole area */
}

#maria-emoji {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure the center is exact */
    z-index: 20;
    width: 300px; /* Fixed width */
    height: 300px; /* Fixed height */
}

.overlay {
    position: absolute;
    z-index: 3;
}

.message-container {
    background-color: blue;
    color: black;
    z-index: 100;
}